body{
	font-size:15px;
	background: #f4f4f4;
  	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.add-btn{
	margin-top:10px;
}
table tr th, table tr td {
	font-size:15px;
	padding :5px;
}
ul li {
	list-style: none; 
	font-size:15px;
}
.button-group{
	width:130px;
	margin: auto;
	text-align: center;
}

.button-group a{
	margin: auto;
}

#loaderImage{
	display: none;
	position: absolute;
	top: 120px;
	left: 50%;
	width: 100%;
	margin: 50px auto 50px auto;
}




.jqueryOptions:before,
.options:before {
  content: '';
  display: block;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateY(100%);
  width: 100%;
  z-index: -1;
}

.current-opt:before,
.options:before {
  transform: translateY(0%);
}

.show {
  display: block;
  height: 100%;
  overflow: visible;
  position: relative;
  visibility:visible;
}

/* Footer */
#footer {
	background: #fff;
}

#footer-inner{
	margin: auto;
	text-align: center;
	padding: 12px;
}

.clr{
	clear: both;
	padding: 0;
	width: 100%;
	font-size: 0px;
	line-height: 0px;
}

